html {
  font-family: sans-serif;
}

body {
  margin: 0;
  text-align: center;
  background-color: #164863;
  color: #f6f0ee;
}

#logo {
  width: 7rem;
  height: 7rem;
  object-fit: contain;
  margin-top: 2rem;
}

h1 {
  color: #29adb2;
}

h2 {
  color: #29adb2;
}

a {
  color: #fee389;
}
